- model_class = Question
%div.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

.fieldset
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:text)
    %dd
      %pre.prettyprint= @question.text

.form-group
  = link_to t('.back', :default => t("helpers.links.back")), category_subcategory_profile_questions_path(@category, @subcategory, @profile), :class => 'btn btn-default'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_category_subcategory_profile_question_path(@category, @subcategory, @profile, @question), :class => 'btn btn-default'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), category_subcategory_profile_question_path(@category, @subcategory, @profile, @question), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'