- model_class = Question

.fieldset
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:text)
    %dd
      %pre.prettyprint= @question.text

%table.table
  %thead
    %tr
      %th
      %th
        Text
      %th
        Correct
  %tbody
    - @question.answers.each_with_index do |answer, index|
      %tr
        %td
          = index + 1
        %td
          = answer.text
        %td
          - if answer.correct
            %i.glyphicon.glyphicon-ok

.form-group
  = link_to t('.back', :default => t("helpers.links.back")), category_profile_questions_path(@category, @profile), :class => 'btn btn-default'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_category_profile_question_path(@category, @profile, @question), :class => 'btn btn-default'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), category_profile_question_path(@category, @profile, @question), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'