= form_for [@category, @subcategory, @profile], :html => { :class => 'form-horizontal' } do |f|
  = f.hidden_field :subcategory_id, :class => 'text_field form-control'
  .form-group
    = f.label :title, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :title, :class => 'text_field form-control'
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), category_subcategory_profiles_path(@category, @subcategory), :class => 'btn btn-default'