- model_class = Subcategory
.fieldset
  %dl
    %dt.label.label-default= model_class.human_attribute_name(:title)
    %dd
      %pre.prettyprint= @subcategory.title
    %dt.label.label-default= model_class.human_attribute_name(:description)
    %dd
      %pre.prettyprint= @subcategory.description

.form-group
  = link_to t('.back', :default => t("helpers.links.back")), category_subcategories_path(@category), :class => 'btn btn-default'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_category_subcategory_path(@category, @subcategory), :class => 'btn btn-default'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), category_subcategory_path(@category, @subcategory), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'