=provide(:title, 'Home')
.text-center
  %h2 Welcome to the Easy KROK web portal.
  %p In future this can be awesome web application. Now we in development. Thanks for visit.


- @categories.each do |category|
  %hr
  .row
    .col-md-2
      %h4
        %span.label.label-primary
          = category.title
    .col-md-10
      - category.subcategories.each do |subcategory|
        %h4{ style: 'color: RGBA(255, 0, 0, 0.7)'}
          = subcategory.title
        = subcategory.description
        %br
        - subcategory.profiles.each do |profile|
          %br
          = link_to ask_category_subcategory_profile_path(category, subcategory, profile) do
            %i.glyphicon.glyphicon-book
            = profile.title