=provide(:title, 'Home')
.text-center
  %h2 Welcome to the Easy KROK web portal.
  %p In future this can be awesome web application. Now we in development. Thanks for visit.


.row
  .col-md-12
    - @categories.each do |category|
      = link_to ask_category_path(category) do
        %i.glyphicon.glyphicon-book
        = "#{ category.title } (#{ category.state[:finished_questions_percentage] }% #{ category.state[:points ] } балів із #{ category.state[:available_points] })"
      %br
      %br